1. Unique words in a sentence

In [ ]:
sentence=input("Enter the sentence: ") # Taking user input
words=sentence.split() # Split the string ( can also use .lower().split() to avoid case sensitive issues )
unique=set(words) # Converting the List to Set to remove duplicates
print("Total Unique words :",len(unique))
print("Unique words in the sentence: ",unique)

Enter the sentence: python is easy and python is powerful
Total Unique words : 5
Unique words in the sentence:  {'is', 'powerful', 'easy', 'python', 'and'}

2. Highest salary from Employee data

In [ ]:
emp={
    "Arun":55000,
    "Bhuvan":65000,
    "Chethan":75000
    } # Employee dictionary

top_emp=max(emp,key=emp.get) # Finding the employee with max salary
high_sal=emp[top_emp]
print(f"Highest salary: {top_emp} - {high_sal}")

Highest salary: Chethan - 75000

3. Find Maximum and Minimum Values

In [ ]:
num=[45,22,89,10,66] # Defining the list
maximum=num[0] # Initialize mmax and min
minimum=num[0]
for n in num:
  if n > maximum:
    maximum=n
  if n < minimum:
    minimum=n
print(f"List: {num}")
print(f"Maximum value: {maximum}")
print(f"Minimum value: {minimum}")

List: [45, 22, 89, 10, 66]
Maximum value: 89
Minimum value: 10

4. Count Products above a price threshold

In [ ]:
prices=[450,1200,899,1500,300] # Defining the list
count=0
for p in prices:
  if p > 1000:
    count+=1
print(f"Products above 1000 : {count}")

Products above 1000 : 2

5. Calculate Attendance percentage

In [ ]:
att=["P", "P", "A", "P", "P"] # List of attendance
p_count=att.count("P") # Count number of present
total_days=len(att) # Total number of days
att_percent=(p_count/total_days)*100 # calculate number of days
print(f"Attendance percentage : {att_percent}%")

Attendance percentage : 80.0%

6. Remove duplicate phone numbers

In [ ]:
ph_num=[9876543210, 9123456789, 9876543210] # List of phone numbers
uniq_ph=set(ph_num) # Converting to set to remove duplicates
print(f"Unique phone numbers: {uniq_ph}")

Unique phone numbers: {9876543210, 9123456789}

7. Count character frequency

In [ ]:
word="pyhtonpython" # Input string
freq={} # Initialize empty dictionary
for char in word:
  if char in freq:
    freq[char]+=1
  else:
    freq[char]=1
print(f"frequency: {freq}")

frequency: {'p': 2, 'y': 2, 'h': 2, 't': 2, 'o': 2, 'n': 2}

8. Convert list to tuple

In [17]:
num_list=[10,20,30,40,50,60] # Defining list of numbers
num_tuple=tuple(num_list) # Converting to tuple
print("List:",num_list)
print("Tuple:",num_tuple)

List: [10, 20, 30, 40, 50, 60]
Tuple: (10, 20, 30, 40, 50, 60)

9. Check if a key exists in a dictionary

In [ ]:
emp={
  "Akshay": 65000,
  "Bhavesh": 75000,
  "Chethan": 85000
  } # Define dictionary

search_key="Akshay"
if search_key in emp:
  print("Employee exists")
else:
  print("Employee doesn't exist")

Employee exists

10. Calculate Average marks

In [ ]:
marks=[85,90,45,70] # Define List of marks
total_sum=sum(marks) # Calculate sum of all subjects
count=len(marks) # Find Total number of subjects
average=total_sum/count # Calculate average
print(f"Average marks: {average}")

Average marks: 72.5